<div class="projects-status", id="tweet_counts">
  <div class="item-status">
<span class="status-number">{{totalTweets}}</span>
<span class="status-type">Processed Tweets</span>
</div>
  <div class="item-status">
    <span class="status-number">{{posetiveTweets}}</span>
    <span class="status-type">Posetive</span>
  </div>
  <div class="item-status">
    <span class="status-number">{{negativeTweets}}</span>
    <span class="status-type">Negative</span>
  </div>
  <div class="item-status">
    <span class="status-number">{{neutralTweets}}</span>
    <span class="status-type">Neutral</span>
  </div>
</div>