<div id="mean_tweets">
</div>
<div class="message-box">
    <img src="{{profile_image_url}}" alt="profile image">
    <div class="message-content">
      <div class="message-header">
        <div class="name">@{{username}}</div>
        <div class="star-checkbox">
          <input type="checkbox" id="star-1">
          <label for="star-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
              <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
          </label>
        </div>
      </div>
      <p class="message-line">
       {{text}}
      </p>
      <p class="message-line time">
        {{created_at}}
      </p>
    </div>
  </div>