<div class="project-boxes jsGridView" id="tweet_percentage">
    <div class="project-box-wrapper">
      <div class="project-box" style="background-color: #c8f7dc;">
    <div class="project-box-content-header">
      <p class="box-content-header">Posetive Tweets</p>
      <p class="box-content-subheader"></p>
    </div>
    <div class="box-progress-wrapper">
      <p class="box-progress-header">Total</p>
      <div class="box-progress-bar">
        <span class="box-progress" style="width: {{posetiveTweets}}%; background-color: #34c471"></span>
      </div>
      <p class="box-progress-percentage">{{posetiveTweets}}%</p>
    </div>
  </div>
</div>
<div class="project-box-wrapper">
  <div class="project-box" style="background-color: #fee4cb;">
   
    <div class="project-box-content-header">
      <p class="box-content-header">Negative Tweets</p>
      <p class="box-content-subheader"></p>
    </div>
    <div class="box-progress-wrapper">
      <p class="box-progress-header">Total</p>
      <div class="box-progress-bar">
        <span class="box-progress" style="width: {{negativeTweets}}%; background-color: #ff942e"></span>
      </div>
      <p class="box-progress-percentage">{{negativeTweets}}%</p>
    </div>
  </div>
</div>
<div class="project-box-wrapper">
  <div class="project-box" style="background-color: #d5deff;">
   
    <div class="project-box-content-header">
      <p class="box-content-header">Neutral Tweets</p>
      <p class="box-content-subheader"></p>
    </div>
    <div class="box-progress-wrapper">
      <p class="box-progress-header">Total</p>
      <div class="box-progress-bar">
        <span class="box-progress" style="width: {{neutralTweets}}%; background-color: #4067f9"></span>
      </div>
      <p class="box-progress-percentage">{{neutralTweets}}%</p>
    </div>
  </div>
</div>
  </div>